.row
  - if @selected_careers && @selected_careers.length > 0
    - @selected_careers.each do |career|
      .large-4.columns{ style: 'float: left;' }
        .the-titles-are-too-damn-long
          %h4= career.title
        .career-wrap
          .salary
            %h6= number_to_currency(career.annual_salary)[0..-4]
            %p Average Salary
          .growth
            .row
              .small-6.columns
                %h2= career.zone_num
                %p
                  Prep Level
                  .info-box
                    .info{ :'data-tooltip' => true, :'data-width' => 200, class: 'has-tip', title: 'Level of preparation or education needed to succeed in this career', style: "background: url('/assets/info.svg') no-repeat center; background-size: 28%;" }
              .small-6.columns
                %h2= career.trend.growth[career.trend.growth.index('(')+1..career.trend.growth.index('%')]
                %p
                  Growth
                  .info-box
                    .info{ :'data-tooltip' => true, :'data-width' => 200, class: 'has-tip', title: 'Anticipated growth in demand for this career', style: "background: url('/assets/info.svg') no-repeat center; background-size: 28%;" }
        .row
          .large-12.columns
            %p{ style: 'padding: 10px; font-style: italic; font-weight: 300; font-size: 0.9em;' }= career.tasks
    - if @selected_careers.length == 1
      - career = @selected_careers.first
      .large-8.columns
        .the-titles-are-too-damn-long
          %h4 Additional Details
        .row.career-panel-menu
          .large-4.columns.career-detail.career-interests-panel.selected
            %h5 Interests
          .large-4.columns.career-detail.career-meetups-panel
            %h5 Meetups
          .large-4.columns.career-detail.career-jobs-panel
            %h5 Jobs
        .row
          .career-detail-panels
            .row.career-interests-subpanel
              .large-5.columns.large-offset-1
                %h5{ style: 'padding-top: 60px;' } Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, iusto, recusandae, quia perspiciatis laboriosam quae reiciendis provident nemo fugit ipsam sunt numquam dignissimos animi optio explicabo. Aspernatur provident iste nisi.
              .large-6.columns
                <canvas id="my2Chart" width="auto" height="300" style='margin: 0 auto; padding: 25px 15px;'></canvas>
                %script
                  = "user_dashboard.show_interests_overlap(#{Interest.return_array_of_interests(career)}, #{Interest.humanize(Interest.return_array_of_interests(@auth))});"
            .row.career-meetups-subpanel{ style: 'display: none;' }
              .large-10.columns.large-centered#meetupbox
                %script
                  var cid = $($('.selected')[1]).data('career-id');
                  user_dashboard.get_meetup_info(cid);
                =# render partial: 'users/my_careers/meetups'
            .row.career-jobs-subpanel{ style: 'display: none;' }
              .large-10.columns.large-centered
                %h3 Jobs in Your Area
                %h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, voluptate, eaque, optio repudiandae quae distinctio doloribus autem.
                .row{ style: 'margin: 20px 0;' }
                  .small-6.columns
                    %strong Post
                  .small-4.columns.pull-2
                    %strong Company
                = render partial: 'users/my_careers/job', locals: { career: career }
  - else
    .large-12.columns{ style: 'margin: 100px 0 100px; text-align: center;'}
      %h1 Select a career from above to learn more.
