.sign-in-form
  .row{ :style => 'padding: 15px 30px 30px;'}
    .large-10.columns.large-centered
      .row
        .large-12.columns
          = form_tag '/login' do
            = text_field_tag 'email', nil, :placeholder => 'email', :autofocus => true
            = password_field_tag 'password', nil, :placeholder => 'password'
            .row
              .large-6.columns
                = submit_tag 'Login', :class => 'button expand', style: 'min-height: 43px;'
              .large-6.columns
                %a.left{ :href=> oauth_login_path, class: 'button expand', style: 'color: #222;' }
                  %span{ style: 'margin-top: 5px;' } Login with LinkedIn
                  = image_tag('linkedin.png',:id=>'linkimage', class: 'right')