%p= career.tasks
%p
  %strong Outlook:
  = career.trend.growth
  %br
  %strong Wages:
  = career.trend.wages
  %br
  %strong Top Industry:
  = career.trend.industries
%p= link_to('>>> Find More Jobs from Indeed', career_path(career))