.hide<img src='/assets/checkmark.svg'/>
-prep = (@auth.edconvert..5).to_a
-preplevels = prep.join(',')
.row
  .large-10.columns.large-centered
    %h1 Find the career that suits you
.row
  .large-10.columns.large-centered
    .row
      .large-4.columns
        =form_tag "/careers/filter",:method=>'get',:remote=>true do
          .row
            .filters.inline
              .filter.inline
                Growth Filter
                .obar.b1.bar_selected.growth_filter{'data-select'=>"true",'data-level'=>1}
                .obar.b2.bar_selected.growth_filter{'data-select'=>"true",'data-level'=>2}
                .obar.b3.bar_selected.growth_filter{'data-select'=>"true",'data-level'=>3}
                .obar.b4.bar_selected.growth_filter{'data-select'=>"true",'data-level'=>4}
                .obar.b5.bar_selected.growth_filter{'data-select'=>"true",'data-level'=>5}
                =hidden_field(:growth,:values)
          .row
            .filter.inline
              Preparation Level
              .obar.b1.prep_filter{'data-select'=>"#{prep.include?(1).to_s}",'data-level'=>1,:class=>"#{prep.include?(1) ? 'bar_selected' : ''}"}
              .obar.b2.prep_filter{'data-select'=>"#{prep.include?(2).to_s}",'data-level'=>2,:class=>"#{prep.include?(2) ? 'bar_selected' : ''}"}
              .obar.b3.prep_filter{'data-select'=>"#{prep.include?(3).to_s}",'data-level'=>3,:class=>"#{prep.include?(3) ? 'bar_selected' : ''}"}
              .obar.b4.prep_filter{'data-select'=>"#{prep.include?(4).to_s}",'data-level'=>4,:class=>"#{prep.include?(4) ? 'bar_selected' : ''}"}
              .obar.b5.prep_filter{'data-select'=>"#{prep.include?(5).to_s}",'data-level'=>5,:class=>"#{prep.include?(5) ? 'bar_selected' : ''}"}
            =hidden_field(:prep,:values)
          .row
            .large-12.small-centered.columns
              =button_tag("Re-Filter",:class=>"button small", :id=>'refilter')
      .large-2.columns
      .large-2.columns
        #filterblock.hide{'data-gfilter'=>"All", 'data-efilter'=>"All"}
        %dl.sub-nav.edu
          %dt Prep
          %dd.active= link_to('All', '#')
          %dd= link_to('1', '#list',:title=>"Select a Different Education Level")
          %dd= link_to('2', '#list',:title=>"Select a Different Education Level")
          %dd= link_to('3', '#list',:title=>"Select a Different Education Level")
          %dd= link_to('4', '#list',:title=>"Select a Different Education Level")
          %dd= link_to('5', '#list',:title=>"Select a Different Education Level")
      .large-2.columns
        %dl.sub-nav.growth
          %dt Growth
          %dd.active= link_to('All', '#')
          %dd= link_to('1', '#list',:title=>"Highest",:'data-gzone'=>1)
          %dd= link_to('2', '#list',:title=>"Above Average",:'data-gzone'=>1)
          %dd= link_to('3', '#list',:title=>"Average",:'data-gzone'=>1)
          %dd= link_to('4', '#list',:title=>"Slightly Below Average",:'data-gzone'=>1)
          %dd= link_to('5', '#list',:title=>"Low",:'data-gzone'=>1)
      .large-3.columns
.row
  #list.large-12.columns.career-list
    .row#careerblock
      = render 'careerblock'
%script
  $('.sub-nav.edu').on('click', 'dd a', iso.filter_job_zone)
  $('.sub-nav.growth').on('click', 'dd a', iso.filter_growth_zone)
  $('#growth_values').val('1,2,3,4,5')
  $('#prep_values').val("#{preplevels}")


