.row
  .large-10.columns.large-centered
    %h1 Find the career that suits you
    %p Below you will find careers that match your results from the <strong>Holland Code Personality Test,</strong> ordered by your top interest through your third. Scroll over each to see a bit of information about the career and use the buttons to save your careers for viewing later or remove from your list.
    %p Click on one of the <strong>Education</strong> filters to only show careers that match that level of education. An Education level of 1 means you need little to no training while a 5 can include advanced degrees.

.row
  .large-10.columns.large-centered
    %dl.sub-nav
      %dt Education Level:
      %dd.active= link_to('All', '#')
      %dd= link_to('1', '#list',:title=>"Select a Different Education Level")
      %dd= link_to('2', '#list',:title=>"Select a Different Education Level")
      %dd= link_to('3', '#list',:title=>"Select a Different Education Level")
      %dd= link_to('4', '#list',:title=>"Select a Different Education Level")
      %dd= link_to('5', '#list',:title=>"Select a Different Education Level")
    #list.career-list
      = render 'careerblock'
    .row
      .large-10.columns
        .small-3.columns.large-centered
          %a{'data-remote'=>:true, :method=>'get',:href=>'/careers/more'}
            #more.title{ 'data-zone' => 0}
              More
%script
  $('.sub-nav').on('click', 'dd a', window.filter_job_zone)
  $('body').on('click',".job-nav.add", saver.save_career_to_user)