.row
  .large-10.columns.large-centered
    - if @careers.length > 0
      %h1 My Careers
      %p
        Take action on the careers you've selected, or find more by
        = link_to('exploring', careers_path)
        careers by your top interests.
      - @careers.each do |career|
        .row
          .small-10.columns
            .section-container.accordion{ :'data-section' => 'accordion' }
              %section.section
                %p.title= link_to(career.title.gsub('"',''), '#')
                .content
                  = render partial: 'career_summary', locals: { career: career }
          .small-2.columns
            .job-nav.remove{ :'data-career-id' => career.id }= image_tag('/assets/no.svg')
    - else
      %h1 You haven't selected any careers!
      %p
        = link_to('Explore', careers_path)
        careers and save a few to view them here. We can then show you jobs that match up with that career.
    %script
      $('.job-nav.remove').on('click', saver.remove_career_from_user)