.index-form
  .row{ :style => 'padding: 15px 30px 30px;'}
    .large-12.columns
      = form_for @user, html: { :class => 'custom' } do |f|
        .row
          .large-4.columns
            = f.text_field :first, placeholder: 'first name'
          .large-4.columns
            = f.text_field :last, placeholder: 'last name'
          .large-4.columns
            = f.text_field :email, placeholder: 'email'
        .row
          .large-6.columns
            = f.password_field :password, placeholder: 'password'
          .large-6.columns
            = f.password_field :password_confirmation, placeholder: 'password confirmation'
        .row
          .large-6.columns
            = f.submit nil, :class => 'button right'
          .large-6.columns
            %a.linkedinbutton.button.left{:href=>oauth_login_path}
              =image_tag('linkedin.png',:id=>'linkimage')
            / = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button secondary right')