.row.full
  .subhead-wrapper
    .subhead
    .row.subheading
      .large-12.columns
        %h3= "Welcome back, #{@user.first}"
.row.full
  .large-4.columns.dash-menu.interests-menu-item.selected
    %h3 My Interests
  .large-4.columns.dash-menu.careers-menu-item
    %h3
      My Careers
      .label.secondary= @user.careers.count
  .large-4.columns.dash-menu.jobs-menu-item
    %h3
      My Jobs
      .label.secondary= @user.jobs.count

.my-interests
  = render partial: 'my_interests'
.my-careers
.my-jobs{ style: 'display: none;'}
  = render partial: 'my_jobs'

%script
  $(document).ready(window.user_dashboard.ready)