#colorwheel
.row
  #new-splash-hero
    #new-splash-inner
      .large-12.columns
        %h1 CareerCatch is a matchmaker for your career.
        %h2 We combine national data with a simple to use interface to help you find your next career steps
        = link_to('Login', new_user_session_path, class: 'button primary large')
        = link_to('Register', new_user_registration_path, class: 'button primary large')

%footer.row
  .large-12.columns
    %hr
    .row
      .large-6.columns
        %p{ style: 'color: white; font-weight: 100;'} 2013 CareerCatch
      .large-6.columns
        %ul.inline-list.right
          %li= link_to( 'About', 'http://nycbigapps.com/project/142/OkCupid-for-Your-Career', style: 'color: white; font-weight: 100;' )
          %li= link_to( 'Admin', '/admin', style: 'color: white; font-weight: 100;' )
          %li= link_to( 'Contact', 'http://nycbigapps.com/project/142/OkCupid-for-Your-Career', style: 'color: white; font-weight: 100;' )

%script
  window.resizer.splash();
