%a{ href: root_path }
  #triangle-topleft{ style: "background: url('/assets/leave-survey.png') no-repeat;" , :class=> 'hide'}

- count = 0
- if @auth.total == 0
  = render partial: 'new_user'
- else
  .background-image{ id: "intro1" }
    .survey-wrapper
      .survey-question
        .question{ class: 'intro' }
          %h3= "Welcome back, #{@auth.first}."
          %span{ :'data-question-id' => '0' }
          %p It's good to see you again.
          %p Remember, selecting 1 means you would hate doing the selected task and 5 would mean you'd love it. Feel free to begin as soon as you're ready.
          %ul
            %li.choice{ style: 'margin-left: 0;'} Begin Survey
          .hide= 'artistic'
      %script
        = "parallax.add( $('#intro1') )"

- @questions.each do |question|
  .background-image{ id: "q#{(count += 1)}" }
    .survey-wrapper
      = render partial: 'question', locals: { question: question }
      %script
        = "parallax.add( $('#q#{count}') )"

#show-survey-progress
  = render partial: 'survey_progress'

%script
  var menu_count = 0
  $(document).ready(window.survey.document_ready)
