<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Project3</title>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40242793-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-wrapper">
  <%= render partial: 'shared/navigation' %>
</div>
<%= yield %>
<%= render partial: 'shared/footer' %>

</body>
</html>
